*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 8px; /* width of the entire scrollbar */
  position: absolute;
}
*::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}
*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  filter: opacity(0.1);
}
*::-webkit-scrollbar-thumb:hover {
  background: rgb(235, 235, 235);
}

body {
  color: rgb(235, 235, 235);
  width: 100vw;
  scroll-behavior: smooth;
  min-height: calc(100vh - 60px);
  background-color: #27282a;
  display: flex;
  flex-direction: column;
  justify-items: start;
}
body #root {
  width: 100%;
}
body #root .App {
  width: 100%;
}
body .navBar {
  background-color: rgb(235, 235, 235);
  font-weight: 600;
  font-size: 30px;
  color: #27282a;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .navBar ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
}
body .navBar ul a {
  color: #27282a;
  font-weight: 700;
  transition: color 0.5s ease;
}
body .navBar ul a:hover {
  color: #ff5c50;
}
body .container {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 60px);
}
body .container > * {
  min-height: calc(100vh - 60px);
  width: 100%;
}
body .container .home {
  font-size: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container .home .presentation {
  font-weight: 600;
  text-align: center;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
body .container .home .presentation .name {
  color: #ff5c50;
  font-weight: 800;
}
body .container .home .presentation hr {
  width: 90%;
  background-color: #ff5c50;
}
body .container .home .presentation a {
  width: 200px;
  color: rgb(235, 235, 235);
  border: rgb(235, 235, 235) 2px dashed;
  transition: all ease 0.5s;
}
body .container .home .presentation a:hover {
  color: #27282a;
  background-color: rgb(235, 235, 235);
}
body .container .About {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: auto;
  align-items: center;
  padding-top: 100px;
  gap: 50px;
  max-width: calc(100vw - 30%);
}
body .container .About .me {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .container .About .me img {
  border: 8px solid rgb(235, 235, 235);
  border-radius: 100%;
  width: 100%;
  height: 100%;
}
body .container .About .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
body .container .About .box > * {
  margin: 30px 0;
}
body .container .About .box h1 {
  text-align: left;
  width: 100%;
}
body .container .About .box .List {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  height: 300px;
  gap: 30px;
}
body .container .About .box .List .element {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 15px;
  padding: 20px 10px;
  background-color: #27282a;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 200px;
  max-width: 200px;
  height: 100%;
}
body .container .About .box .List .element > * {
  width: 100%;
  transition: all 0.5s ease-in;
  font-weight: 600;
}
body .container .About .box .List .element:hover {
  color: #27282a;
  background-color: rgb(235, 235, 235);
  box-shadow: 10px 10px 25px 1px rgb(235, 235, 235);
}
body .container .About .box .List .element .role {
  text-align: center;
  font-size: 20px;
}
body .container .About .box .List .element .title {
  text-align: center;
  font-weight: 800;
}
body .container .About .box .List .element .year {
  text-align: center;
}
body .container .About .box .skills .element {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}
body .container .About .box .skills .element img {
  width: 80%;
  height: 90%;
}
body .container .About .box .skills .element p {
  font-size: 25px;
  text-align: center;
}
body .container .About .box .skills .element:hover {
  background-color: none;
}
body .container .About > * {
  width: calc(100vw - 30%);
}
body .container .contact {
  font-size: 20px;
  width: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container .contact .element {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
body .container .contact .element .email {
  font-size: 35px;
  display: block;
  color: rgb(235, 235, 235);
  border: 2px solid rgb(235, 235, 235);
  width: 350px;
  line-height: 80px;
  border-radius: 40px;
  text-align: center;
  font-weight: 600;
  transition: all 0.5s ease;
}
body .container .contact .element .email:hover {
  color: #27282a;
  background-color: rgb(235, 235, 235);
}
body .container .contact .element .socialNetwork {
  display: flex;
  flex-direction: row;
  gap: 60px;
}
body .container .contact .element .socialNetwork > a {
  width: 20px;
  height: 20px;
  stroke: red;
}
body .container .contact .element .svgMedia {
  width: 50px;
  height: 50px;
  transition: filter 0.5s ease;
}
body .container .contact .element .svgMedia:hover {
  filter: invert(40%) sepia(71%) saturate(769%) hue-rotate(320deg) brightness(109%) contrast(101%);
}
body .container .works {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
body .container .works .listWorks {
  position: relative;
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .container .works .listWorks .miniWork {
  overflow: scroll;
  min-width: 220px;
  height: 100%;
  overflow: hidden;
  filter: opacity(0.3);
  transition: filter 0.5s ease;
}
body .container .works .listWorks .miniWork div {
  font-weight: 900;
  font-size: 35px;
  overflow: hidden;
  height: 100%;
  width: 0;
  transition: width 0.5s ease;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
body .container .works .listWorks .miniWork div a {
  color: #27282a;
}
body .container .works .listWorks .miniWork div a:hover {
  color: white;
}
body .container .works .listWorks .miniWork div div {
  display: flex;
  flex-direction: row;
  background: transparent;
}
body .container .works .listWorks .miniWork div h6 {
  color: #ff5c50;
}
body .container .works .listWorks .miniWork div p {
  color: #ff5c50;
}
body .container .works .listWorks .miniWork:hover {
  filter: opacity(1);
}
body .container .works .listWorks .miniWork:hover div {
  width: 100%;
}
body .container .works .work {
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  height: calc((100vh - 60px) * 0.85);
  border: 1px solid red;
  width: 100%;
  background: none;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.light {
  pointer-events: none;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 100px;
  left: 50px;
  background: radial-gradient(white, rgba(57, 132, 255, 0) 80%);
  filter: blur(110px);
  border-radius: 100%;
}

@media screen and (max-width: 1100px) {
  .light {
    display: none;
  }
  .listWorks {
    justify-content: left !important;
  }
}
@media screen and (max-width: 550px) {
  .home .presentation {
    font-size: 25px;
  }
  .navBar ul a {
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  .navBar ul {
    gap: 10px;
  }
  .navBar ul a {
    font-size: 15px;
  }
}/*# sourceMappingURL=style.css.map */